page{
  width: 100%;
  height: 100%;
  map{
    height: 100%;
    width: 100%;
    .checkIn{
      position: absolute;
      bottom: 40rpx;
      left: 50%;
      transform: translateX(-50%);
      width: 200rpx;
      height: 200rpx;
      border-radius: 50%;
      line-height: 200rpx;
    }
  }
}
